* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

.max-width {
  max-width: 1300px;
  padding: 0 8.33%;
  margin: auto;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: #F2F0F1;
  transition: background 0.3s;
}

.header .max-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  padding: 20px 0;
}

.header .logo a {
  /*font-family: 'Besley', serif;*/
  font-family: 'Slabo 27px', serif;
  font-size: 2em;
  letter-spacing: 1px;
  color: #000;
  text-decoration: none;
}

.header .logo-span {
  color: #EE0000;
}

.header .nav-menu {
  list-style: none;
  text-align: center;
}

.header .nav-menu li {
  display: inline-block;
}

.header .nav-menu .nav-link {
  font-size: 1.25em;
  text-decoration: none;
  color: #000;
  white-space: nowrap;
  margin-left: 20px;
  padding: 20px 0;
}

.header .link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header .nav-menu .nav-link.active {
  border-bottom: 4px solid #fff;
}

.header li:first-child .nav-link.active {
  border-bottom: 4px solid #EE0000;
}

.header .burger-nav {
  color: #000;
  display: none;
  cursor: pointer;
  font-size: 30px;
}

.home {
  background-image: url(../asset/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0;
  margin-bottom: 100px;
  height: 100vh;
}

.top-side {
  width: 40%;
}

.home h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: 1.5px;
  color: #2e2e2e;
}

.home p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  margin-top: 10px;
  line-height: 1.4;
}

.top-side .input {
  border: none;
  outline: none;
  color: #8b7d77;
}

.search-wrap {
  margin-top: 30px;
  margin-bottom: 10px;
}

.search-wrap .search-box {
  position: relative;
  width: 100%%;
  height: 40px;
}

.search-wrap .search-box .input {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 100%;
  padding: 10px 80px 10px 20px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 25px;
}

.search-wrap .search-box .btn {
  position: absolute;
  top: 0;
  right: 18px;
  width: 45px;
  height: 100%;
  background-color: #ff91a0;
  z-index: 1;
  cursor: pointer;
  display: flex;
  border-radius: 50%;
  transition: 0.2s ease;
}

.search-wrap .search-box .btn:hover {
  background-color: #a74e5a;
}

.search-wrap .search-box .btn.btn-common .fas {
  margin: auto;
  color: white;
}

.popular-wrap {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  color: white;
}

.popular-title {
  font-weight: bold;
  padding: 5px;
  font-size: 14px;
}

.popular-content {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
}

.popular {
  padding: 10px;
  margin: 0 0 10px 6px;
  border-radius: 50px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.5s ease;
}

.popular:hover {
  color: black;
  background-color: white;
}

.about {
  background-image: url("../asset/wavy-bg.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 70%;
  background-position: center bottom;
  padding-bottom: 100px;
}

.about .max-width {
  width: 90%;
  height: 100%;
}

.about h2 {
  font-size: 2em;
  letter-spacing: 0.5px;
  text-align: center;
  margin-bottom: 5%;
}

.about .timeline {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: 100%;
}

.about .timeline::after {
  content: '';
  position: absolute;
  border-left: 5px dashed #EE0000;
  top: 15%;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
}

.about .container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  top: 20%;
  margin-bottom: 5%;
}

.about .container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  top: calc(50% - 20px);
  right: -17px;
  background-color: transparent;
  border: 4px solid #EE0000;
  border-radius: 50%;
  z-index: 2;
}

.about .left {
  left: 0;
}

.about .right {
  left: 50%;
  transition: left 2s .25s, opacity 2s .25s;
}

.about .left.is-visible {
  animation-name: left-animation;
  animation-duration: 1.2s;
}

.about .right.is-visible {
  animation-name: right-animation;
  animation-duration: 1.2s;
}

.about .right::after {
  left: -16px;
}

.about .content {
  padding: 20px;
  background-color: #EE0000;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 4px 10px 0 var(--third);
  color: #fff;
}

/* Explore */
.explore {
  padding: 100px 0;
}

/*.explore .choose {
  height: 100vh;
  background-image: url("../asset/wavy-bg-down.png");
  background-repeat: no-repeat;
  background-size: 100% 70%;
  background-position: center top;
}*/

.explore .categories h2 {
  font-size: 2em;
  letter-spacing: 1px;
  padding: 2px 0;
}

.categories-wrapper {
  width: 100%;
  border-radius: 5px;
  padding: 30px 30px 5px 30px;
  background-color: #f4f4f4;

}

.scrollable-menu {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 20px;
}

.scrollable-menu::-webkit-scrollbar { 
  width: 10px; 
  height: 10px; 
}
.scrollable-menu::-webkit-scrollbar-track { background: #f1f1f1; }
.scrollable-menu::-webkit-scrollbar-thumb { background: #888; }
.scrollable-menu::-webkit-scrollbar-thumb:hover { background: #555; }

.card {
  padding: 15px;
  margin-right: 30px;
  text-align: center;
  letter-spacing: 1px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid #000;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
}

.card img {
  margin-top: 5px;
  width: 250px;
  padding: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4);
}

.modal .modal-wrapper {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  min-width: 35%;
  width: 38%;
  border-radius: 8px;
}

.modal .modal-wrapper .modal-title {
  text-align: center;
  padding: 40px 0 30px 0;
}
.modal-content {
  margin: auto;
  width: 90%;
}

.modal .login-social {
  display: flex;
  flex-direction: column;
}

.modal .login-social .modal-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px;
  border-radius: 4px;
  text-decoration: none;
  border: 1px solid #000;
  color: #000;
  text-align: center;
  margin: 5px 0;
  font-size: 1.5em;
}

.modal .modal-link .fab{
  font-size: 20px;
  margin-right: 10px;
  color: #000;
  
}

.modal .modal-link .link-text{
  text-align: center;
  margin: auto;
}

.modal .modal-link.fb {
  background-color: #4267b2;
  color: #fff;
}


.modal .modal-link .fa-facebook {
  color: #fff;
}

.divider {
  height: 10px;
  border-bottom: 1.5px solid #e4e5e7;
  margin: 20px 0;
  text-align: center;
}

.divider span {
  background-color: #fff;
  margin: 0 auto;
  padding: 0 8px;
  font-size: 18px;
}

.form {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.form .form-input {
  margin-bottom: 10px;
  padding: 10px 0;
  border-radius: 4px;
  border: 1px solid #ddd;
  text-indent: 10px;
  font-size: 16px;
}

.form input[type=submit] {
  background-color: #1dbf73;
  color: #fff;
}

.form .form-bottom {
  display: flex;
  justify-content: space-between;
}

.form .forgot-link {
  color: #1dbf73;
  text-decoration: none;
}

.form-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.join-link {
  padding: 0 5px;
  color: #1dbf73;
  text-decoration: none;
}

/* Animation */

@keyframes left-animation {
  0% {
    transform: translate(-30%, 0px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0px);
    opacity: 1;
  }
}

@keyframes left-animation-rs {
  0% {
    transform: translate(3%, 0px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0px);
    opacity: 1;
  }
}

@keyframes right-animation {
  0% {
    transform: translate(30%, 0px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0px);
    opacity: 1;
  }
}

/* Responsive */

@media (max-width: 1024px) {
  .header .burger-nav {
    display: block;
    z-index: 9999;
  }
  .header .burger-nav i.active:before {
    content: "\f00d";
    color: #fff;
  }
  .header .nav-menu li {
    display: block;
    padding: 25px 0;
    margin-bottom: 5px;
    color: white;
  }
  .header .nav-menu .nav-link {
    color: #fff;
  }
  .header ul li:first-child {
    margin-top: 50px;
  }
  .header ul {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    right: -100%;
    background-color: #111;
    opacity: 0.95;
    text-align: center;
    transition: right 0.3s ease;
  }
  .header ul.active {
    right: 0%;
  }
  .header .nav-link {
    padding: 20px 0;
  }
  .about {
    background-size: 100% 90%;
    background-position: 100% 100%;
  }
  .about .timeline::after {
    top: 5%;
  }
  .about .container {
    top: 25%;
  }
}

@media (max-width: 768px) {
  .home .top-side {
    width: 100%;
  }
  .home p {
    margin: 20px 0 40px 0;
  }
  .search-wrap .search-box .input {
    width: 100%;
  }
  .search-wrap .search-box .btn {
    right: 0;
  }
  .popular-wrap{
    flex-direction: column;
    margin: 20px 0;
  }
  .popular-title {
    padding: 10px 0;
    font-size: 1em;
  }
  .popular {
    margin: 0 10px 10px 0;
  }
  .about {
    background-size: 100vh 75%;
    background-position: 100% 100%;
  }
  .about h2 {
    font-size: 1.25em;
  }
  .about .timeline {
    width: 100%;
  }
  .about .timeline::after {
    top: 15%;
  }
  .about .container {
    width: 100%;
    margin-bottom: 20%;
  }
  .about .timeline::after, .about .right, .about .left {
    left: 5%;
  }
  .about .left.is-visible, .about .right.is-visible {
    animation-name: left-animation-rs;
    animation-duration: 1s;
  }
  .about .container::after {
    left: -16px;
    background-color: #EE0000;
  }
  .modal .modal-wrapper {
    width: 90%;
  }
  .modal .modal-link .link-text {
    font: size: 0.5em;
  }
}

@media (max-width: 360px) {
  .home h1 {
    font-size: 1.25em;
  }

  .home p {
    font-size: 0.85em;
    margin-bottom: 20px;
  }
}
